<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
   <session-factory>
   <property name="hibernate.dialect">
      org.hibernate.dialect.MySQL5Dialect
   </property>
   <property name="hibernate.connection.driver_class">
      com.mysql.jdbc.Driver
   </property>

   <!-- Assume test is the database name -->
  
  <!--  
   <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/eventsystem</property>
   <property name="hibernate.connection.username">postgres</property>
   <property name="hibernate.connection.password">admin</property>
  -->
    
   <property name="hibernate.connection.url">jdbc:mysql://mysql7001.site4now.net/db_a2aabc_chtrain</property>
   <property name="hibernate.connection.username">a2aabc_chtrain</property>
   <property name="hibernate.connection.password">Test2017</property>
   
   <property name="hibernate.c3p0.min_size">5</property>
   <property name="hibernate.c3p0.max_size">20</property>
   
   <property name="show_sql">true</property>

      <mapping class="entity.ComponentType"/>
 <!--
	<mapping class="ipass.eventapp.entity.Vraag"/>
	<mapping class="ipass.eventapp.entity.Enquete"/>
	<mapping class="ipass.eventapp.entity.Gebruiker"/>
	<mapping class="ipass.eventapp.entity.GebruikerEvenement"/>
	<mapping class="ipass.eventapp.entity.GebruikerEvenementId"/>
	<mapping class="ipass.eventapp.entity.EvenementEnquete"/>
	<mapping class="ipass.eventapp.entity.EvenementEnqueteId"/>
	<mapping class="ipass.eventapp.entity.Evenement"/>
	-->

   <!-- List of XML mapping files
   <mapping resource="Employee.hbm.xml"/>
   <mapping resource="Enquete.hbm.xml"/>
   <mapping resource="Vraag.hbm.xml"/>
   -->

</session-factory>
</hibernate-configuration>